# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo



# ----------------------------------
# Limpeza de Ambientes e Dependências
# ----------------------------------

# Ambientes Virtuais Python
venv/
.venv/

# Dependências Node.js/JavaScript
node_modules/

# Pasta de Saída do Build 
build/
dist/

# Arquivos e Pastas de Log
logs/


# Caches de Python
__pycache__/

# Caches de IDE (se usar)
.vscode/ # Pode ser ignorado, mas alguns preferem versionar as configs básicas.
.idea/   # Pasta do PyCharm e outras IDEs JetBrains
